@use "../styles/foundation" as *;
/* =================================
 * 	店舗 Common
 * ------------------------------ */

/* =================================
 * ClientWrapper
 * ------------------------------ */
.bodyContents {
    position: relative;
    font-size: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* =================================
 * ShopTopMain
 * ------------------------------ */
.innerMain {
    font-size: inherit;
    padding-inline: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    @include sp {
        display: contents;
    }
}
.innerSub {
    font-size: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    @include sp {
        display: contents;
    }
}
.shopMainContainer {
    display: grid;
    max-width: $article-max-width;
    grid-template-columns: 25% 1fr;
    padding-bottom: 3em;
    box-shadow: 0.5rem -3rem 4rem rgb(1 1 1 / 15%);
    gap: 0 1em;
    @include sp {
        display: contents;
    }
    .boxBanMain {
        padding-top: 1rem;
        @include sp {
            padding-top: unset;
            max-width: unset;
            padding-inline: 2vw;
        }
        ul {
            position: relative;
            display: grid;
            grid-auto-flow: row;
            gap: 1rem 0;
            @include sp {
                gap: 2vw 0;
            }
        }
    }
}
.shopSubContainer {
    display: grid;
    // max-width: $article-max-width;
    grid-auto-flow: row;
}
.containerShopTopMain {
    @include sp {
        display: contents;
    }
}

/* =================================
 * ShopFooterMenu
 * ------------------------------ */
.shopFooterMenu {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: inherit;
    @include sp {
        order: 1;
        width: 100%;
        flex-direction: column;
    }
    h2 {
        display: none;
        @include sp {
            position: relative;
            display: flex;
            background-color: var(--baseColor);
            color: #fff;
            padding: 2vw 4vw 2vw 14vw;
            @include futura-condensed-medium;
            font-size: fz(24);
            text-transform: uppercase;
            &::before {
                content: "";
                position: absolute;
                left: 6vw;
                top: 50%;
                translate: 0 -50%;
                width: 1em;
                @include svg-icon-mobile-menu("fff");
            }
        }
    }
    nav {
        position: relative;
        display: flex;
        justify-content: center;
        font-size: inherit;
        padding-block: 0.5em;
        @include sp {
            flex-direction: column;
            width: 100%;
            padding-block: unset;
        }
        a {
            position: relative;
            flex-grow: 1;
            border-right: 1px solid;
            padding: 0 1em;
            letter-spacing: 0.12em;
            display: flex;
            justify-content: center;
            font-size: fz(12);
            padding-block: 0.2em;
            &:first-of-type {
                border-left: 1px solid;
                @include sp {
                    border: unset;
                }
            }
            &.active {
                &::before {
                    clip-path: inset(0);
                    opacity: 0.3;
                    transition: unset;
                }
            }
            @include pc {
                &:hover {
                    transition: 0.3s ease-out;
                    &::before {
                        transition: 0.3s ease-out;
                        opacity: 0.3;
                        clip-path: inset(0);
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    clip-path: inset(0 50% 0 50%);
                    z-index: -1;
                    opacity: 0;
                    transition: 0.5s ease-out;
                    background-color: var(--baseColor);
                }
            }
            @include sp {
                width: 100%;
                justify-content: flex-start;
                font-size: fz(16);
                font-weight: 500;
                padding-block: 3vw;
                padding-left: 6vw;
                &:nth-of-type(2n) {
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background-color: var(--baseColor);
                        z-index: -1;
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}
