@use "../../../styles/foundation" as *;

/* =======================================
 * 横浜ダンディーグループ 店舗 TOP キャストランキング スタイル
 * URL: /src/components/common/top/TopCastRanking.module.scss
 * Referenced in: /src/components/common/top/TopCastRanking.tsx
 * Created: 2025-08-23
 * Last updated: 2026-07-14
 * ======================================= */
.boxCastRanking {
    position: relative;
    font-size: inherit;
    padding: 9em 0 1.6em;

    // background: url(../../assets/images/contents-bg.webp) no-repeat center
    //     center / cover;
    width: 100%;
    @include sp {
        order: -5;
        padding: 24vw 2vw 4vw;
    }
    .titleObject {
        @include object-title;
    }
    &.dandy {
        padding-bottom: 0;
        .wrapTitle {
            @include contents-title(#000000);
        }
        .titleObject {
            &::before {
                filter: hue-rotate(360deg)
                    drop-shadow(0.5rem 0.5rem 0.5rem rgb(1 1 1 / 30%));
            }
        }
    }
    &.mr_dandy {
        padding-bottom: 0;
        .wrapTitle {
            @include contents-title(#000000);
        }
        .titleObject {
            &::before {
                filter: brightness(96%) hue-rotate(48deg) saturate(178%)
                    drop-shadow(0.5rem 0.5rem 0.5rem rgb(1 1 1 / 30%));
            }
        }
    }
    &.club_dandy {
        padding-bottom: 0;
        .wrapTitle {
            @include contents-title(#000000);
        }
        .titleObject {
            &::before {
                filter: brightness(96%) hue-rotate(151deg) saturate(205%)
                    drop-shadow(0.5rem 0.5rem 0.5rem rgb(1 1 1 / 30%));
            }
        }
    }
}
