/* =================================
 * アクセスマップ
 * ------------------------------ */
@use "../../../styles/foundation" as *;
.blockAccess {
    position: relative;
    font-size: inherit;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    width: 100%;
    @include sp {
        margin-top: 4vw;
    }
    .boxMapInfo {
        position: relative;
        width: 100%;
        padding: 2em;
        img {
            width: 100%;
            height: auto;
        }
    }
    .wrapText {
        font-size: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        margin-top: 1em;
        gap: 0 1em;
        @include sp {
            display: grid;
            gap: 1vw 4vw;
            margin-top: 4vw;
        }
        address {
            font-size: fz(16);
            @include sp {
                grid-column: span 2;
                font-size: fz(14);
            }
        }
        a {
            font-size: fz(16);
            @include sp {
                text-align: right;
                font-size: fz(14);
            }
        }
        p {
            font-size: fz(16);
            @include sp {
                font-size: fz(14);
            }
            span {
                margin-right: 0.5em;
            }
        }
    }
    .wrapMap {
        position: relative;
        width: 100%;
        iframe {
            aspect-ratio: 2;
            @include sp {
                aspect-ratio: 1/3;
            }
        }
    }
    &.systemPage {
        @include shop-color;
        .itemH2 {
            @include futura-cyrillic-book;
            text-transform: uppercase;
            font-size: fz(32);
            background-color: rgb(var(--shop-color), 1);
            color: $base-white;
            padding: 0.3em 1em;
        }
    }
    &.topPage {
        margin-top: 3em;
        @include sp {
            order: 1;
            margin-top: 2vw;
        }
        h2 {
            display: none;
        }
        .boxMapInfo {
            display: none;
        }
        .wrapText {
            margin-bottom: 1em;
            margin-top: 0;
        }
    }
}
