/* =================================
 * 	 店舗切替タブ
 * ------------------------------ */
@use "../../styles/foundation/" as *;

.shopSwitchTabs {
    width: 100%;
    position: relative;
    font-size: inherit;
    display: flex;
    gap: 0 0.8em;
    z-index: 5;
    // padding-inline: 2vw;
    padding-bottom: 1px;
    justify-content: flex-end;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        width: 100vw;
        left: 50%;
        translate: -50%;
    }
    &::before {
        background-color: $base-white;
    }
    &::after {
        background-color: rgb(var(--shop-color), 0.3);
    }
    @include shop-color;
    a {
        position: relative;
        font-size: fz(14);
        color: #8e8e8e;
        width: 11em;
        height: 2.8em;
        display: flex;
        justify-content: center;
        padding: 0.8em 0 0em;
        transition: 0.3s ease-out;
        z-index: 2;
        @include sp {
            width: 10em;
            font-size: fz(12);
            height: 2.6em;
            translate: 0 1px;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 0.5em 0.5em 0 0;
            // border: 1px solid #c2c2c2;
            border-bottom: unset;
            transform: perspective(1em) rotateX(2deg);
            background-color: #e6e6e6;
            transform-origin: right;
            transition: 0.3s ease-out;
        }
        &.isActive {
            color: $base-white;
            &::before {
                background-color: rgb(var(--shop-color), 1);
            }
        }
        @include hover {
            color: $base-white;
            &::before {
                background-color: rgb(var(--shop-color), 0.9);
            }
        }
    }
    &.weekly-schedule {
        width: unset;
    }
    &.realtime {
        z-index: 10;
    }
}
